<div class="wrapper">
  <form>
    <mat-form-field class="form-field">
      <mat-label>{{ translations().serviceProvider }}</mat-label>
      <input
        matInput
        [formControl]="formControl"
        [matAutocomplete]="auto"
        data-testid="search-bar"
      />
      <mat-autocomplete
        (optionSelected)="onOptionSelected()"
        #auto="matAutocomplete"
      >
        @for (
          serviceProvider of filteredOptions | async;
          track serviceProvider
        ) {
          <mat-option
            [value]="serviceProvider.name"
            data-testid="autocomplete-option"
            >{{ serviceProvider.name }}, {{ serviceProvider.town }}</mat-option
          >
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
  @if (noServiceProvidersFound()) {
    <b data-testid="no-service-provider-found">{{
      translations().notOnListError
    }}</b>
    <ul>
      <li>{{ translations().notOnListCoPayment }}</li>
    </ul>
  } @else if (isSelected()) {
    <app-coverage [translatedServiceProvider]="translate()"></app-coverage>
  }
</div>
